.section-title h2{
    margin-top: 41px;
}

.categories-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.category-card{
    width: 312px;
    height: 220px;
    background-color: var(--background-secondary-color);
    border-radius: 8px;
    text-align: center;
}

.category-card header{
    background-color: transparent;
    padding: 41px 0px 24px;

}

.category-card img {
    margin: auto;
}

.category-card h3{
    font-size: 28px;
}