.destinations-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destinations .item .img-item {
  width: 100%;
  height: 368px;
}

.destinations .item .img-item.tokyo {
  background: url(../img/tokyo-mobile.jpg);
  background-size: cover;
}

.destinations .item .img-item.osaka {
  background: url(../img/osaka-mobile.jpg);
  background-size: cover;
}

.destinations .item header h4 {
  margin: 24px 0;
  font-size: 28px;
  font-weight: var(--title-weight);
}

.destinations .item p {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  margin-bottom: 24px;
}

.destinations .item .button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  /* definindo uma largura específica e centralizando com margin, assim ficará centralizado de maneira correta*/
  .destinations {
    width: 648px;
  }

  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }

  .destinations .item .img-item.tokyo {
    background: url(../img/tokyo-tablet-desk.jpg) no-repeat;
    background-size: cover;
  }

  .destinations .item .img-item.osaka {
    background: url(../img/osaka-tablet-desk.jpg) no-repeat;
    background-size: cover;
  }

  .destinations .item .button {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  /* definindo uma largura específica e centralizando com margin, assim ficará centralizado de maneira correta*/
  .destinations {
    width: 900px;
  }

  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
}

@media screen and (min-width: 1440px) {
  /* definindo uma largura específica e centralizando com margin, assim ficará centralizado de maneira correta*/
  .destinations {
    width: 1200px;
  }

  .destinations-items {
    flex-direction: row;
  }
}
