.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--background-tertiary-color);
    margin: 0;
    width: 100%;
    color: var(--background-secondary-color);
    line-height: 32px;
}

.footer .first-content{
    margin: 0px 0px 32px;
}

.footer .first-content img{
    margin: 32px 0 16px;
}

.footer .first-content p{
    padding: 0 24px 0 24px;
}

.footer .first-content p .footer-second-paragraph{
    margin-bottom: 8px;
}

.footer .footer-contact{
    margin-bottom: 32px;
}

.footer .footer-contact p{
    margin-bottom: 12px;
}