/* arquivo de css global, específico para definição de padrões */

/* adicionando a fonte ao projeto */
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* adicionando variáveis globais de css*/
:root {
  /* cores gerais */
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  /* cores de fundo */
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  /* cores de texto */
  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  /* variáveis de peso de texto*/
  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(
    --text-primary-color
  ); /* por padrão, será essa a cor de todos os elementos */
}

/* definindo a largura de cada section, centralizando cada parte do site*/
section {
  width: 312px;
  margin: 0 auto 88px;
}

/* seção com exceção, irá ocupar 100% da largura  */
section.hero {
  width: 100%;
  margin: 0;
}

.section-title {
  width: 280px;
  margin: 0 auto 32px;
}

/* irá se repetir em vários momentos, por isso está aqui */
.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  text-align: center;
  padding: 0px 24px 0px 24px;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--primary-color);
  margin: 16px auto 32px;
  border: none; /* tira a borda */
}

/* padronizando título de seção - h3*/
.content-title {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin-bottom: 0px 0px 24px;
}

/* padronizando texto de seção - p */
.content-text {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

.button {
  display: inline-block; /* alterar o display para poder definir width e height*/
  min-width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--text-weight);
  font-size: 20px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  text-decoration: none;
  line-height: 64px; /* centraliza o texto na vertical - line-height mesmo valor de height*/
  text-align: center;
}

/* tablet */
@media screen and (min-width: 768px) {
  .section-title {
    width: 100%;
  }

  .section-title h2 {
    font-size: 32px;
  }
  /* definindo a largura de cada section, centralizando cada parte do site*/
  section {
    width: 648px;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
  /* definindo a largura de cada section, centralizando cada parte do site*/
  section {
    width: 900px;
  }

  .section-title hr {
    margin-bottom: 64px;
  }
  .button:hover {
    background-color: var(--primary-color);
  }
}

@media screen and (min-width: 1440px) {
  /* definindo a largura de cada section, centralizando cada parte do site*/
  section {
    width: 1200px;
  }
}
