/* arquivo para configs do header da página */

.main-header {
  background-color: var(
    --background-tertiary-color
  ); /* variável definida em global.css*/
  display: flex; /* alterando o display para flex*/
  flex-direction: row; /* será distribuído na forma de row (linha - horizontalmente)*/
  justify-content: space-between; /* space-between: cada elemento filho do header ficará de um lado da tela */
  align-items: center;
  padding: 38px 48px;
  position: relative; /* relative para conseguir editar a nav filha com position absolute*/
}

/* editando o elemento com a class logo*/
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.img-mobile {
  display: block; /* mostra logo mobile - vai ser retirado nas medias-queries
  */
}

.img-desktop {
  display: none; /* tira o logo nesse primeiro momento - vai voltar nas media-queries*/
}

/* edita apenas o menu hamburguer */
.navigation-menu {
  margin-top: 5px;
}

/* quando o input do tipo checkbox estiver assinalado (:checked), editar o elemento irmão dele - nav*/
input[type="checkbox"]:checked ~ nav {
  display: block; /* deixa o display com block, fazendo com que os itens da nav sejam vistos */
  position: absolute; /* position: absolute para poder controlar a posição dele em relação ao seu elemento pai, o header */
  top: 100%; /* terá 100% de distância do top do pai (header), assim ficando exatamente abaixo do header */
  left: 0; /* 0 pois ficará na base horizontal do pai header*/
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none; /* esconde a nav no momento inicial */
}

.list-links {
  list-style: none;
}

.list-links li {
  margin: 16px 0px 16px 16px;
}

/* editando o link cada item da lista list links*/
.list-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

/* responsividade para tablet */
@media screen and (min-width: 768px) {
  .navigation-menu {
    margin-top: 0px; /* tira a margin da div container*/
    width: 467px;
  }
  .navigation-menu label {
    display: none; /* tira a label, que contém a imagem do menu hamburguer*/
  }
  .navigation-menu nav {
    display: block; /* começará sendo exibida, já que não haverá menu hamburguer*/
  }
  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* media-screen para desktop */
@media screen and (min-width: 1024px) {
  .main-header {
    padding: 38px 120px;
  }

  .logo {
    /* aumentando o tamanho para ficar no mesmo tamanho da logo para desktop */
    width: 260px;
    height: 64px;
  }

  .img-mobile {
    display: none; /* tira visibilidade do logo mobile */
  }

  .img-desktop {
    display: block; /* mostra o logo desktop*/
  }

  .list-links li a:hover {
    color: var(--primary-color);
  }

  .list-links li a:active {
    color: var(--text-secondary-color);
    font-weight: bold;
    text-decoration: underline;
  }
}

/* desktops grandes*/
@media screen and (min-width: 1920px) {
  .main-header {
    padding: 38px 160px; /* aumentando o padding em grandes telas, aproximando cada item do header */
  }
}
