/* arquivo para configs do header da página */

header {
  background-color: var(--background-tertiary-color); /* variável definida em global.css*/
  width: 100%;
  height: 136px;
}

/* editando o elemento com a class logo*/
.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
    margin: 37px 0px 0px 48px; /* margin para ajustar a posicao do logo*/
}
