/* editando a div dos cards */
.card {
  color: var(--text-secondary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

/* ajustando o header dos cards */
.card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0px;
  margin-bottom: 24px;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

/* card do japao */
.card.japao{
    background: url("../img/bg-card-japao.png") no-repeat;
    background-size: cover;
}

/* card de san andreas */
.card.san-andreas{
    background: url("../img/bg-card-san-andreas.png") no-repeat;
    background-size: cover;
}

/* card da paraiba */
.card.paraiba{
    background: url("../img/bg-card-paraiba.png") no-repeat;
    background-size: cover;
}

/* card da paraiba */
.card.manaus{
    background: url("../img/bg-card-manaus.png") no-repeat;
    background-size: cover;
}


.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin-top: 8px;
}

.card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block; /* coloando display in-line block é possível alterar o margin desse elemento */
}

@media screen and (min-width: 1024px) {
  .card {
    width: 588px;
    height: 308px;
  }

  .card header h3 {
    font-size: 48px;
  }

  .card header span {
    font-size: 40px;
  }
}
