/* div com todos os cards */
.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center; /* alinha horizontal */
  gap: 24px; /* passa o gap de 24px - distância entre cada card */
}

/* editando a div de cada card */
.card {
  color: var(--text-secondary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

/* ajustando o header dos cards */
.card header {
  margin-bottom: 24px;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

/* card do japao */
.card.japao {
  background: url("../img/bg-card-japao.png") no-repeat center center;
  background-size: cover;
}

/* card de san andreas */
.card.san-andreas {
  background: url("../img/bg-card-san-andreas.png") no-repeat center center;
  background-size: cover;
}

/* card da paraiba */
.card.paraiba {
  background: url("../img/bg-card-paraiba.png") no-repeat center center;
  background-size: cover;
}

/* card da paraiba */
.card.manaus {
  background: url("../img/bg-card-manaus.png") no-repeat center center;
  background-size: cover;
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin-top: 8px;
}

.card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block; /* coloando display in-line block é possível alterar o margin desse elemento */
}

/* tablets */
@media screen and (min-width: 768px) {
  /* div com todos os cards */
  .offers-cards {
    flex-direction: row; /* muda a direção para ficar em linhas */
    flex-wrap: wrap; /* quebra as linhas quando o não couber todos os itens no width do dispositivo */
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 420px;
    height: 308px;
  }

  .card header h3 {
    font-size: 48px;
  }

  .card header span {
    font-size: 40px;
  }
}

/* desktop maiores */
@media screen and (min-width: 1440px) {
  .card {
    width: 588px;
  }
}

/* destktop full hd */
@media screen and (min-width: 1920px) {
  .offers-cards {
    width: 1200px;
  }
}
