/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* adicionando variáveis globais de css*/
:root{
    /* cores de fundo */
    --background-primary-color: #ffffff;
    --background-secundary-color: #f5f5f5;
    --background-tertiary-color: #000000;

    /* cores dos botões */
    --button-primary-color: #8f0101;
    --button-secundary-color: #B81515;

    /* cores de texto */
    --text-primary-color: #222222;
    --text-secundary-color: #ffffff;
}

body{
    background-color: var(--background-primary-color);
}