/* documento que tem as principais configs css */

/* import das configs de cada arquivo .css, juntando todas as modificações neste arquivo principal*/
@import url(global.css);
@import url(header.css);
