/* utilizando flex no container */
.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonial-container article header p {
  font-size: 16px;
  line-height: 28px;
}

/* footer que é o container da img, h3 e estrelas e terá diosplay flex para organizar esses elementos */
.testimonial-container article footer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 8px;
}

/* footer que é o container da img, h3 e estrelas e terá diosplay flex para organizar esses elementos */
.testimonial-container article footer img {
  width: 86px;
  height: 86px;
}

.testimonial-container article footer .profile-content {
  height: 72px;
  align-self: center;
}

.testimonial-container article footer .profile-content h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--title-weight);
}

/* mudando cada estrela */
.testimonial-container article footer .profile-content .rating .star {
  display: inline-block;
  font-size: 32px;
  color: var(--secondary-color);
  line-height: 32px;
}

@media screen and (min-width: 1440px) {
  .testimonial-container {
    flex-direction: row;
  }
}
